New Leads Workflow.json
{
  "name": "Anderson County Property Scraper",
  "nodes": [
    {
      "parameters": {
        "authentication": "headerAuth",
        "path": "start-property-scraping",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-start-scraping",
      "name": "Start Property Scraping Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        200,
        300
      ],
      "typeVersion": 1.1,
      "webhookId": "start-property-scraping-webhook",
      "credentials": {
        "httpHeaderAuth": {
          "id": "webhook-auth-credential",
          "name": "Webhook Authentication"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Convert search parameters to property search queries\nconst input = $input.first().json;\nconsole.log('Input data:', JSON.stringify(input, null, 2));\nconst minAcres = input.body.minAcres || 50;\nconst maxAcres = input.body.maxAcres || 10000;\nconst propertyTypes = input.body.propertyTypes || ['D1', 'E1']; // Ag land types\n\nconst searchParams = {\n  minAcres,\n  maxAcres,\n  propertyTypes\n};\n\nconsole.log('Property search params:', searchParams);\nreturn [{ json: searchParams }];"
      },
      "id": "convert-search-params",
      "name": "Convert Search Parameters",
      "type": "n8n-nodes-base.code",
      "position": [
        400,
        300
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "https://www.taxnetusa.com/texas/anderson/",
        "sendBody": true,
        "bodyContentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "land_area_acres_low",
              "value": "={{ $json.minAcres }}"
            },
            {
              "name": "land_area_acres_high", 
              "value": "={{ $json.maxAcres }}"
            },
            {
              "name": "land_state_code[]",
              "value": "D1"
            },
            {
              "name": "land_state_code[]",
              "value": "E1"
            },
            {
              "name": "data_to_search",
              "value": "2024"
            },
            {
              "name": "property_type",
              "value": "real"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": false
        }
      },
      "id": "search-anderson-county",
      "name": "Search Anderson County Properties",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        600,
        300
      ],
      "executeOnce": false,
      "typeVersion": 4.2,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.data;\n\n// Extract property data from HTML response\nconst propertyRegex = /<tr[^>]*>.*?<td[^>]*>([^<]+)<\\/td>.*?<td[^>]*>([^<]+)<\\/td>.*?<td[^>]*>([^<]+)<\\/td>.*?<\\/tr>/gs;\n\nconst properties = [];\nlet match;\n\nwhile ((match = propertyRegex.exec(data)) !== null) {\n  const ownerName = match[1]?.trim();\n  const propertyAddress = match[2]?.trim();\n  const acreage = match[3]?.trim();\n  \n  if (ownerName && propertyAddress && acreage) {\n    properties.push({\n      json: {\n        ownerName,\n        propertyAddress, \n        acreage: parseFloat(acreage) || 0,\n        source: 'Anderson County Tax Records',\n        timestamp: new Date().toISOString()\n      }\n    });\n  }\n}\n\nconsole.log(`Found ${properties.length} properties`);\nreturn properties.length > 0 ? properties : [{ json: { error: 'No properties found' } }];"
      },
      "id": "extract-property-data",
      "name": "Extract Property Data",
      "type": "n8n-nodes-base.code",
      "position": [
        800,
        300
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "041797f2-2fe2-41dc-902a-d34050b9b304",
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "leftValue": "={{ $json.acreage }}",
              "rightValue": 50
            },
            {
              "id": "eb499a7e-17bc-453c-be08-a47286f726dd",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              },
              "leftValue": "={{ $json.ownerName }}",
              "rightValue": ""
            },
            {
              "id": "filter-government",
              "operator": {
                "type": "string",
                "operation": "notRegex"
              },
              "leftValue": "={{ $json.ownerName.toLowerCase() }}",
              "rightValue": "(city|county|state|government|public|school|church)"
            }
          ]
        },
        "options": {}
      },
      "id": "filter-properties",
      "name": "Filter 50+ Acre Properties",
      "type": "n8n-nodes-base.filter",
      "position": [
        1000,
        300
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "ownerName,propertyAddress",
        "options": {}
      },
      "id": "remove-duplicates",
      "name": "Remove Duplicate Properties",
      "type": "n8n-nodes-base.removeDuplicates",
      "position": [
        1200,
        300
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MDMbYUDqNWtNqZIaGO1YR2ojX3Vqfuo-ZXlt9XwpQps",
          "mode": "list",
          "cachedResultName": "Anderson County Properties",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MDMbYUDqNWtNqZIaGO1YR2ojX3Vqfuo-ZXlt9XwpQps/edit?usp=drivesdk"
        },
        "sheetName": {
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MDMbYUDqNWtNqZIaGO1YR2ojX3Vqfuo-ZXlt9XwpQps/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Owner Name": "={{ $json.ownerName }}",
            "Property Address": "={{ $json.propertyAddress }}",
            "Acreage": "={{ $json.acreage }}",
            "Source": "={{ $json.source }}",
            "Timestamp": "={{ $json.timestamp }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Owner Name",
              "displayName": "Owner Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Property Address", 
              "displayName": "Property Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Acreage",
              "displayName": "Acreage", 
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string", 
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "save-to-google-sheets",
      "name": "Save Properties to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1400,
        300
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JKdwVIxxX6ypr4oh",
          "name": "TOFU Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://625cfa757c69.ngrok-free.app/webhook/new-properties",
        "sendQuery": false,
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-webhook-auth",
              "value": "701e490a6b8d6f5d851a3de0a154bbf06177af79c17732ccc1af077275103152"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"type\": \"new_property\",\n  \"property\": {\n    \"ownerName\": \"{{ $json.ownerName }}\",\n    \"propertyAddress\": \"{{ $json.propertyAddress }}\", \n    \"acreage\": {{ $json.acreage }},\n    \"source\": \"{{ $json.source }}\",\n    \"timestamp\": \"{{ $json.timestamp }}\"\n  }\n}",
        "options": {}
      },
      "id": "send-property-to-ui",
      "name": "Send Property Data to UI",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1600,
        300
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "https://625cfa757c69.ngrok-free.app/webhook/status-update",
        "sendQuery": false,
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-webhook-auth",
              "value": "701e490a6b8d6f5d851a3de0a154bbf06177af79c17732ccc1af077275103152"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"type\": \"status_update\",\n  \"message\": \"Property scraping completed for Anderson County\",\n  \"totalProperties\": {{ $json.length || 0 }},\n  \"timestamp\": \"{{ $now }}\"\n}",
        "options": {}
      },
      "id": "send-status-update",
      "name": "Send Status Update",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1400,
        500
      ],
      "typeVersion": 4.2
    }
  ],
  "connections": {
    "Start Property Scraping Webhook": {
      "main": [
        [
          {
            "node": "Convert Search Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Search Parameters": {
      "main": [
        [
          {
            "node": "Search Anderson County Properties",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Anderson County Properties": {
      "main": [
        [
          {
            "node": "Extract Property Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Property Data": {
      "main": [
        [
          {
            "node": "Filter 50+ Acre Properties",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter 50+ Acre Properties": {
      "main": [
        [
          {
            "node": "Remove Duplicate Properties",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicate Properties": {
      "main": [
        [
          {
            "node": "Save Properties to Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Status Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Properties to Google Sheets": {
      "main": [
        [
          {
            "node": "Send Property Data to UI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4eb433d9-98c3-4457-847d-5721ac4ac6f8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ce33787472b2901f84d89ada826e249384dc95d6cc6b0bbc767f3c91a68c6933"
  },
  "id": "77EHXrD5KLPTJCMy",
  "tags": []
}